@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 24px;
    font-family: Open Sans;
}
.header{
    display:flex;
    justify-content: space-between;
    padding: 18px;
    height:150px;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 48px;
    font-weight: bold;
}
#container{
    flex:1;
    display: flex;
    flex-direction: column;
}
.footer{
    padding:24px;
    font-weight: bolder;
    text-align: center;
    font-size:24px;
}
#round-info{
    text-align: center;
}
#score{
    text-align: center;
}
.buttons{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding-left: 1.3em;
    margin-top: 15px;
}
#rock, #paper, #scissors{
    border: none;
    padding: 1em 2em;
    border-radius: 5%;
    background-color: aqua;
    font-weight: 700;
}